---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { fetchAllPosts } from '$lib/data/blogData';
import { formatDate } from '$lib/utils/dateUtils';

const allPosts = await fetchAllPosts();
const posts = allPosts.map(({ slug, listName, thumb, category, date, excerpt }) => ({
	slug,
	listName,
	thumb,
	category,
	date,
	excerpt
}));
---

<BaseLayout>
	<div class="news-grid">
		{
			posts.map((post) => (
				<article class="news-item box">
					<div class="news-item__image-wrap">
						<a class="news-item__link" href={`/blog/${post.slug}`}>
							<img class="cover" src={post.thumb.src} alt={post.thumb.alt} loading="lazy" />
						</a>
					</div>
					<div class="news-item__caption">
						<div class="news-item__date">
							<span>{post.category}</span>
							{formatDate(post.date)}
						</div>
						<h2 class="title title--h2">
							<a href={`/blog/${post.slug}`}>{post.listName}</a>
						</h2>
						<p>{post.excerpt}</p>
					</div>
				</article>
			))
		}
	</div>
</BaseLayout>

<style lang="scss">
	@use 'styles/app/news';
</style>
